@charset "UTF-8";














/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2018-07-22 11:27:59
 * @version $Id$
 */

body {
    width: 1000px;
    margin: 0 auto;
    padding-top: 0px;
    font-family: Arial, STKaiti, KaiTi, sans-serif;
    background-color: gray;
}

img {
    width: 100%;
}

#poster {
    position: relative;
}

.content1 {
    position: relative;
    float: left;
    width: 50%;
}

.imgPoster {
    width: 100%;
}

.textPoster {
    font-size: 30px;
    position: absolute;
    top: 330px;
    text-align: center;
    width: 1000px;
    color: lightyellow;
    font-family: Arial
}

#afterPosterHr {
    margin: 20px 0px 20px 0px;
}

.afterPosterP {
    font-family: Arial，STKait;
    font-size: 30px;
    color: white;
}

.textA {
    font-size: 30px;
    position: absolute;
    top: 20px;
    left: 20px;
    text-align: left;
    width: 400px;
    color: lightyellow;
    font-family: Arial
}

.textB {
    font-size: 30px;
    position: absolute;
    top: 700px;
    left: 20px;
    text-align: left;
    width: 400px;
    color: lightyellow;
    font-family: Arial
}

.content1>img {
    height: 900px;
}

.content2 {
    width: 100%;
    position: relative;
    top: 150px;
    text-align: center;
    font-size: 30px;
    color: white;
}

.content2>img {
    width: 50%;
}

#banner3 {
    width: 100%;
    height: 150px;
    text-align: center;
    margin-top: 20px;
    position: relative;
}

.content3 {
    width: 100%;
    height: 150px;
    padding-top: 30px;
    position: relative;
    text-align: center;
}

.content4 {
    width: 100%;
    height: 1000px;
    position: relative;
}

.imgContent4 {
    float: left;
    width: 280px;
    margin: 20px;
}

.textContent4 {
    height: 40px;
    font-size: 14px;
    color: white;
    font-size: 20px;
    text-align: center;
}

.imgContent4-1 {
    width: 300px;
    height: 200px;
}

.textC {
    width: 100%;
    height: 800px;
    text-align: center;
    margin-top: 5px;
    color: white;
    font-size: 30px;
    text-align: center;
    color: lightyellow;
    font-family: Arial;
    float: left;
    position: relative;
}

#text1-1,
#text1-2 {
    margin-top: 20px;
    margin-bottom: 20px;
}

#text2-1 {
    width: 100%;
    font-size: 30px;
    top: 400px;
    text-align: center;
    width: 100%px;
    color: black;
    font-family: Arial;
}