<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="../echarts.min.js"></script>
    <title>Document</title>
</head>

<body>
    <h1>
        登录页面
    </h1>
    <!-- 使用post方法，form的action表示 跳转到‘/login’，method=‘post‘ -->
    <form action="/login" method='POST'>
        用户名：<input type="text" name="username" id=""> 密码：
        <input type="password" name="password" id="">
        <input type="submit" value="登录">
    </form>
    <i style="color:cadetblue;">
        {{msg}}
    </i>

    <div id="main" style="width: 600px;height:400px;"></div>
    <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('main'));

        // 指定图表的配置项和数据
        var option = {
            title: {
                text: 'ECharts 入门示例'
            },
            tooltip: {},
            legend: {
                data: ['销量']
            },
            xAxis: {
                data: ["衬衫", "羊毛衫", "雪纺衫", "裤子", "高跟鞋", "袜子"]
            },
            yAxis: {},
            series: [{
                name: '销量',
                type: 'bar',
                data: [5, 20, 36, 10, 10, 20]
            }]
        };

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    </script>
</body>

</html>